<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiyifen.myshop.system.mapper.ExpressMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.xiyifen.myshop.system.entity.Express">
                    <id column="express_id" property="expressId" />
                    <result column="order_id" property="orderId" />
                    <result column="express_com" property="expressCom" />
                    <result column="express_nu" property="expressNu" />
                    <result column="create_time" property="createTime" />
                    <result column="update_time" property="updateTime" />
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            express_id, order_id, express_com, express_nu, create_time, update_time
        </sql>

</mapper>
