<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiyifen.myshop.system.mapper.PermissionMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.xiyifen.myshop.system.entity.Permission">
                    <id column="id" property="id" />
                    <result column="auth_name" property="authName" />
                    <result column="pid" property="pid" />
                    <result column="ps_c" property="psC" />
                    <result column="ps_a" property="psA" />
                    <result column="ps_level" property="level" />
                    <result column="perms" property="perms" />
                    <result column="path" property="path" />
                    <result column="order_num" property="orderNum" />
                    <result column="type" property="type"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            id, auth_name, pid, ps_c, ps_a, ps_level, perms, path, order_num,`type`
        </sql>

</mapper>
